@import "tailwindcss";

/* @import './utilities.css'; */
/* NOTA: poner ; */

/* @import 'utilities.css' layer(utilities);  // desabilita las clases base de utilities y solo usa las personalizadas */
/* @import "tailwindcss" prefix(tw);  <-- usa el prefijo tw para todas las clases ahora se define asi tw:flex */


 @layer theme {
    :root {
     
      /* https://javisperez.github.io/tailwindcolorshades/?buttercup=f6ae12&bali-hai=84a2ad&crocodile=796b52&dark-blue=383ffc&scooter=01c4e0&jacarta=272263
	https://www.skeleton.dev/docs/generator 
	https://www.tailwindshades.com */
	/* =~= Theme Styles =~= */
	/* 
   --theme-border-base: 0px;
	--theme-font-family-heading: 'Creepster', cursive;
	--theme-font-family-base: system-ui;
	--theme-rounded-container: 24px; 
   */
    --theme-font-color-base: 0 0 0;  /* var(--color-primary-900); */
	--theme-font-color-dark: 255 255 255; /* var(--color-primary-200);*/
	--theme-rounded-base: 8px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	/* --on-error:  var(--color-error-50);  255 255 255; */
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */

    }
  } 



  /* si funciona v4.0 https://tailwindcss.com/docs/theme 
  a los colores se puede usar con hexadecimal, rgb, okl etc*/
  @theme {

	/* primary | #7367f0 */
	--color-primary-50:  rgb(234 232 253); /* ⬅ #eae8fd */
	--color-primary-100: rgb(227 225 252); /* ⬅ #e3e1fc */
	--color-primary-200: rgb(220 217 251); /* ⬅ #dcd9fb */
	--color-primary-300: rgb(199 194 249); /* ⬅ #c7c2f9 */
	--color-primary-400: rgb(157 149 245); /* ⬅ #9d95f5 */
	--color-primary-500: rgb(115 103 240); /* ⬅ #7367f0 */
	--color-primary-600: rgb(104  93 216); /* ⬅ #685dd8 */
	--color-primary-700: rgb( 86  77 180); /* ⬅ #564db4 */
	--color-primary-800: rgb( 69  62 144); /* ⬅ #453e90 */
	--color-primary-900: rgb( 56  50 118); /* ⬅ #383276 */
	--color-primary-950: rgb( 26  20 107); /* ⬅ #1a146b */

	/* secondary | #4F46E5 */
	--color-secondary-50:  rgb(229 227 251); /* ⬅ #e5e3fb */
	--color-secondary-100: rgb(220 218 250); /* ⬅ #dcdafa */
	--color-secondary-200: rgb(211 209 249); /* ⬅ #d3d1f9 */
	--color-secondary-300: rgb(185 181 245); /* ⬅ #b9b5f5 */
	--color-secondary-400: rgb(132 126 237); /* ⬅ #847eed */
	--color-secondary-500: rgb( 79  70 229); /* ⬅ #4F46E5 */
	--color-secondary-600: rgb( 71  63 206); /* ⬅ #473fce */
	--color-secondary-700: rgb( 59  53 172); /* ⬅ #3b35ac */
	--color-secondary-800: rgb( 47  42 137); /* ⬅ #2f2a89 */
	--color-secondary-900: rgb( 39  34 112); /* ⬅ #272270 */
    --color-secondary-950: rgb( 39  34 112); /* ⬅ #272270 */

	/* tertiary | #0EA5E9 */
	--color-tertiary-50:  rgb(219 242 252); /* ⬅ #dbf2fc */
	--color-tertiary-100: rgb(207 237 251); /* ⬅ #cfedfb */
	--color-tertiary-200: rgb(195 233 250); /* ⬅ #c3e9fa */
	--color-tertiary-300: rgb(159 219 246); /* ⬅ #9fdbf6 */
	--color-tertiary-400: rgb( 86 192 240); /* ⬅ #56c0f0 */
	--color-tertiary-500: rgb( 14 165 233); /* ⬅ #0EA5E9 */
	--color-tertiary-600: rgb( 13 149 210); /* ⬅ #0d95d2 */
	--color-tertiary-700: rgb( 11 124 175); /* ⬅ #0b7caf */
	--color-tertiary-800: rgb(  8  99 140); /* ⬅ #08638c */
	--color-tertiary-900: rgb(  7  81 114); /* ⬅ #075172 */
    --color-tertiary-950: rgb(  7  81 114); /* ⬅ #075172 */
	/* success | #84cc16 */
	--color-success-50:  rgb(237 247 220); /* ⬅ #edf7dc */
	--color-success-100: rgb(230 245 208); /* ⬅ #e6f5d0 */
	--color-success-200: rgb(224 242 197); /* ⬅ #e0f2c5 */
	--color-success-300: rgb(206 235 162); /* ⬅ #ceeba2 */
	--color-success-400: rgb(169 219  92); /* ⬅ #a9db5c */
	--color-success-500: rgb(132 204  22); /* ⬅ #84cc16 */
	--color-success-600: rgb(119 184  20); /* ⬅ #77b814 */
	--color-success-700: rgb( 99 153  17); /* ⬅ #639911 */
	--color-success-800: rgb( 79 122  13); /* ⬅ #4f7a0d */
	--color-success-900: rgb( 65 100  11); /* ⬅ #41640b */
    --color-success-950: rgb( 65 100  11); /* ⬅ #41640b */

	/* warning | #EAB308 */
	--color-warning-50:  rgb(252 244 218); /* ⬅ #fcf4da */
	--color-warning-100: rgb(251 240 206); /* ⬅ #fbf0ce */
	--color-warning-200: rgb(250 236 193); /* ⬅ #faecc1 */
	--color-warning-300: rgb(247 225 156); /* ⬅ #f7e19c */
	--color-warning-400: rgb(240 202  82); /* ⬅ #f0ca52 */
	--color-warning-500: rgb(234 179   8); /* ⬅ #EAB308 */
	--color-warning-600: rgb(211 161   7); /* ⬅ #d3a107 */
	--color-warning-700: rgb(176 134   6); /* ⬅ #b08606 */
	--color-warning-800: rgb(140 107   5); /* ⬅ #8c6b05 */
	--color-warning-900: rgb(115  88   4); /* ⬅ #735804 */
    --color-warning-950: rgb(115  88   4); /* ⬅ #735804 */
	/* error | #D41976 */
	--color-error-50:  rgb(249 221 234); /* ⬅ #f9ddea */
	--color-error-100: rgb(246 209 228); /* ⬅ #f6d1e4 */
	--color-error-200: rgb(244 198 221); /* ⬅ #f4c6dd */
	--color-error-300: rgb(238 163 200); /* ⬅ #eea3c8 */
	--color-error-400: rgb(225  94 159); /* ⬅ #e15e9f */
	--color-error-500: rgb(212  25 118); /* ⬅ #D41976 */
	--color-error-600: rgb(191  23 106); /* ⬅ #bf176a */
	--color-error-700: rgb(159  19  89); /* ⬅ #9f1359 */
	--color-error-800: rgb(127  15  71); /* ⬅ #7f0f47 */
	--color-error-900: rgb(104  12  58); /* ⬅ #680c3a */
	--color-error-950: rgb(104  12  58); /* ⬅ #680c3a */

	/*color verde de tailwind */
	--color-surface-50	: rgb(240 253 244);  /*// rgb(240 253 244); */
	--color-surface-100	: rgb(220 252 231);  /*// rgb(220 252 231); */
	--color-surface-200	: rgb(187 247 208);  /*// rgb(187 247 208); */
	--color-surface-300	: rgb(134 239 172);  /*// rgb(134 239 172); */
	--color-surface-400	: rgb( 74 222 128);  /*// rgb(74 222 128); */
	--color-surface-500	: rgb( 34 197  94);  /*// rgb(34 197 94); */
	--color-surface-600	: rgb( 22 163  74);  /*// rgb(22 163 74); */
	--color-surface-700	: rgb( 21 128  61);  /*// rgb(21 128 61); */
	--color-surface-800	: rgb( 22 101  52);  /*// rgb(22 101 52); */
	--color-surface-900	: rgb( 20  83  45);  /*// rgb(20 83 45); */
	--color-surface-950	: rgb(  5  46  22);  /*// rgb(5 46 22); */

  }



.btn {
    @apply p-2 outline-none rounded-sm ; /* rounded-token sera para depues de la v4  por ahora sera rounded-sm */
}

.btn-efect {
    @apply active:scale-95 select-none  transition-all duration-100 ;
}

.btn-color-primary {
    @apply shadow-md inset-shadow-sm inset-shadow-white/20 focus:ring ring-blue-600  inset-ring inset-ring-white/15
     bg-blue-400 text-blue-900;
}

.btn-primary {
      @apply bg-primary-500 hover:bg-primary-500/80  text-[rgb(var(--on-primary))]  dark:bg-primary-800 dark:active:bg-primary-900 dark:text-primary-100;
}
.btn-secondary {
    @apply bg-secondary-500 hover:bg-secondary-500/80 text-[rgb(var(--on-secondary))] dark:bg-secondary-800 dark:active:bg-secondary-900 dark:text-secondary-100;
 }
 .btn-tertiary {
    /* @apply  bg-tertiary-500 hover:bg-tertiary-500/80 text-tertiary-50  dark:bg-tertiary-800 dark:active:bg-tertiary-900 dark:text-tertiary-100; */
    @apply  bg-tertiary-500 hover:bg-tertiary-500/80 text-[rgb(var(--on-tertiary))]  dark:bg-tertiary-800 dark:active:bg-tertiary-900 dark:text-tertiary-100;
 }
 .btn-success {   
    /* @apply  bg-success-500 hover:bg-success-500/80 text-success-50  dark:bg-success-800 dark:active:bg-success-900 dark:text-success-100; */
    @apply  bg-success-500 hover:bg-success-500/80 text-[rgb(var(--on-success))]  dark:bg-success-800 dark:active:bg-success-900 dark:text-success-100;
 }
 .btn-warning {
    /* @apply  bg-warning-500 hover:bg-warning-500/80 text-warning-50  dark:bg-warning-800 dark:active:bg-warning-900 dark:text-warning-100; */
    @apply  bg-warning-500 hover:bg-warning-500/80 text-[rgb(var(--on-warning))]  dark:bg-warning-800 dark:active:bg-warning-900 dark:text-warning-100;
 }
 .btn-error {
    /* @apply  bg-error-500 hover:bg-error-500/80 text-error-50  dark:bg-error-800 dark:active:bg-error-900 dark:text-error-100; */
    @apply  bg-error-500 hover:bg-error-500/80 text-[rgb(var(--on-error))]  dark:bg-error-800 dark:active:bg-error-900 dark:text-error-100;
 }
 